*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
}
.main{
    text-align: center;
    margin: 200px auto;
}
.theme_light{
    margin: 50px 0;
    font-size: 40px;
    font-weight: 900;
}
.toggle_light{
    border-radius: 50px;
    background-color: black;
    width: 60px;
    height: 35px; 
    border: none;
}
.toggle_dark{
    border-radius: 50px;
    background-color: white;
    width: 60px;
    height: 35px; 
    border: none;
}
.left_light{
    font-size: 15px;
    color:white;
    background-color: white;
    border-radius: 50%;
    padding: 5px 0px; 
    position:relative;
    left: 7%;
    width: 50%; 
    transition: 0.2s;
}
.dark{
    background-color: rgb(21, 21, 21);
}
.theme_dark{
    color: rgb(237, 237, 237);
    margin: 50px 0;
    font-size: 40px;
    font-weight: 900;
}
.right_dark{
    font-size: 15px;
    background-color: black;
    border-radius: 50%;
    padding: 5px 0px; 
    position:relative;
    left: 46%;
    width: 50%; 
    transition: 0.2s;
}
